
/.vs
/RockMargin/bin/Release
/RockOptions/bin/Release
/RockOptions/obj/Release
/RockMargin/bin/Release
/RockMargin/obj/Release
/HTTPClient/obj
/HTTPServer/obj
/RockMargin/obj/Debug
/RockMargin/bin/Debug
/RockOptions/obj/Debug
/RockOptions/bin/Debug
